<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712566736025-r8g2svjpkelrfgldk9j874vsqaohcp72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712566736025-r8g2svjpkelrfgldk9j874vsqaohcp72</string>
	<key>API_KEY</key>
	<string>AIzaSyD89Yu52LKFUPVF4W9S2vUwjrdycvohO1g</string>
	<key>GCM_SENDER_ID</key>
	<string>712566736025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>xpensertracker</string>
	<key>STORAGE_BUCKET</key>
	<string>xpensertracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712566736025:ios:2458a171d43947c1e02408</string>
	<key>DATABASE_URL</key>
	<string>https://xpensertracker-default-rtdb.firebaseio.com</string>
</dict>
</plist>